<div>Hader {{title}} {{data}}</div>
<h1>Your'e from{{Course}}</h1>
<h1>Ru interested in {{WB}}}</h1>
<input type="text" name="nm" id="nm1" [(ngModel)]="data"/>
<input type="text" name="" id="" [(ngModel)]= "data"/>
<h1>{{formtext | uppercase}} Required</h1>
<h2>{{dt| date:'d/m/y'}}</h2>
<h2>{{dt | date:'shortTime' }}</h2>
<h2>Continue {{snd}}</h2>
<input type="text" [(ngModel)]="snd" name="" id="">

<!-- <input type="text" name="" id="nm3" oninput="nm4.value=nm3.value">
<input type="text" name="" id="nm4"> -->

